{:paths ["src" "resources" "target/resources"]

 :deps
 {com.biffweb/biff
  {:git/url "https://github.com/jacobobryant/biff"
   :git/sha "0e1e207df27acb1758ec3604eb56af50b7bb47ea"
   :exclusions [com.xtdb/xtdb-core
                com.xtdb/xtdb-jdbc
                com.xtdb/xtdb-rocksdb
                org.postgresql/postgresql]}

  com.xtdb/xtdb-api
  {:mvn/version "2.2.0-beta1"}

  com.xtdb/xtdb-aws
  {:mvn/version "2.2.0-beta1"}

  com.xtdb/xtdb-core
  {:mvn/version "2.2.0-beta1"}

  com.zaxxer/HikariCP
  {:mvn/version "7.0.2"}

  cheshire/cheshire
  {:mvn/version "6.1.0"}

  ;; Notes on logging:
  ;; https://gist.github.com/jacobobryant/76b7a08a07d5ef2cc076b048d078f1f3
  org.slf4j/slf4j-simple
  {:mvn/version "2.0.0-alpha5"}

  org.slf4j/log4j-over-slf4j
  {:mvn/version "1.7.36"}

  org.slf4j/jul-to-slf4j
  {:mvn/version "1.7.36"}

  org.slf4j/jcl-over-slf4j
  {:mvn/version "1.7.36"}

  ;; Released Gesso is the default.
  ;; Use the :local-gesso alias to override this with ../gesso.
  michaelmrose/gesso
  {:git/url "https://github.com/michaelmrose/gesso.git"
   :git/tag "v0.2.1"
   :git/sha "1e6e2fe043bde3e0368420ce4aa41ade450df959"}

  aleph/aleph
  {:mvn/version "0.9.8"}}

 :aliases
 {:local-gesso
  {:override-deps
   {michaelmrose/gesso
    {:local/root "../gesso"}}}

  :dev
  {:extra-deps
   {com.biffweb/tasks
    {:git/url "https://github.com/jacobobryant/biff"
     :git/sha "0e1e207df27acb1758ec3604eb56af50b7bb47ea"
     :deps/root "libs/tasks"}}

   :extra-paths ["dev" "test"]

   :jvm-opts
   ["--add-opens=java.base/java.nio=ALL-UNNAMED"
    "--enable-native-access=ALL-UNNAMED"
    "-Dio.netty.tryReflectionSetAccessible=true"
    "-Dio.netty.noUnsafe=false"
    "-XX:-OmitStackTraceInFastThrow"
    "-XX:+CrashOnOutOfMemoryError"
    "-Dbiff.env.BIFF_PROFILE=dev"]

   :main-opts
   ["-m" "com.biffweb.task-runner" "tasks/tasks"]}

  :prod
  {:jvm-opts
   ["--add-opens=java.base/java.nio=ALL-UNNAMED"
    "--enable-native-access=ALL-UNNAMED"
    "-Dio.netty.tryReflectionSetAccessible=true"
    "-Dio.netty.noUnsafe=false"
    "-XX:-OmitStackTraceInFastThrow"
    "-XX:+CrashOnOutOfMemoryError"
    "-Dbiff.env.BIFF_PROFILE=prod"]

   :main-opts
   ["-m" "net.humanhelp"]}

  :test
  {:extra-paths ["test"]

   :extra-deps
   {org.clojure/test.check
    {:mvn/version "1.1.2"}

    io.github.cognitect-labs/test-runner
    {:git/tag "v0.5.1"
     :git/sha "dfb30dd"}}

   :jvm-opts
   ["--add-opens=java.base/java.nio=ALL-UNNAMED"
    "--enable-native-access=ALL-UNNAMED"
    "-Dio.netty.tryReflectionSetAccessible=true"
    "-Dio.netty.noUnsafe=false"
    "-XX:-OmitStackTraceInFastThrow"
    "-XX:+CrashOnOutOfMemoryError"
    "-Dbiff.env.BIFF_PROFILE=prod"]

   :main-opts
   ["-m" "cognitect.test-runner"]}}

 :mvn/repos
 {"central"
  {:url "https://repo1.maven.org/maven2/"}

  "clojars"
  {:url "https://clojars.org/repo"}

  "sonatype-snapshots"
  {:url "https://central.sonatype.com/repository/maven-snapshots/"}}}
